Options -Indexes
#============================================================================================#
# set domain startup folder start
#============================================================================================#
RewriteEngine On
# Map http://www.example.com to /public.
RewriteRule ^$ /public/ [L]

# Map http://www.example.com/x to /public/x unless there is a x in the web root.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/$1


# Add trailing slash to directories within public
# This does not expose the internal URL.
RewriteCond %{SCRIPT_FILENAME} -d
RewriteRule ^public/(.*[^/])$ http://skypaybd.div/$1/ [R=301]

#============================================================================================#
# set domain startup folder End
#============================================================================================#