/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
   .slicknav_menu {
      display: none;
   }

}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
   .slicknav_menu {
      display: none;
   }
   .kslick-single-item h1 {
      font-size: 80px;
      line-height: 100px;

   }
   .min-service-box * {
      font-size: 11px;
   }
   .service-box {
      padding: 25px;
   }
}


/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
   .slicknav_menu {
      display: block;
   }
   #olympia-menu {
      display: none;
   }

   .kslick-single-item h1 {
      font-size: 50px;
      line-height: 55px;
      text-align: center;
   }

   .full-screen-v {
      width: initial;
      max-width: initial;
      height: initial;
      position: initial;
      overflow: hidden;
      background: rgba(0,0,0,.8);
      padding: 20px 0px;
   }
   .full-screen-source {
      display: none;
   }
   .full-screen-data {
      position: initial;
   }
   .overlap {
      display: none;
   }
   .min-service-box {
      border-bottom: 1px solid #fff;
      border-radius: 0px;
   }
   .min-service-box * {
      font-size: 16px;
   }

   .about-text p {
      line-height: 60px;
      font-size: 25px;
   }
   .service-box {
      padding: 20px 30px;
      height: 280px;
   }
   .service-icon i, .service-content h3{
      margin-bottom: 20px;
   }

   .service-box {
      padding: 20px 30px;
      height: auto;
   }
   .we-acc-slick {
      width: 90%;
   }

   .copyright {
      margin-bottom: 20px;
      text-align: center;
   }

   .footer-social {
      text-align: center;
   }

   div.popover.ku-error .arrow:before{
      border: 0;
   }
   div.popover.ku-error:nth-child(even) .arrow:after {
      border-right-color: #de605b;
      border: 0;
      width: 10px;
      height: 10px;
      content: "";
      background: #de605b;
      transform: rotate(45deg);
      position: absolute;
      top: -7px;
   }

   div.popover.ku-error:nth-child(odd) .arrow:after {
      border-right-color: #f4645f;
      border: 0;
      width: 10px;
      height: 10px;
      content: "";
      background: #de605b;
      transform: rotate(45deg);
      position: absolute;
      top: -7px;
   }
}


/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {
   .slicknav_menu {
      display: block;
   }
   #olympia-menu {
      display: none;
   }

   .kslick-single-item h1 {
      font-size: 40px;
      line-height: 50px;
      text-align: center;
   }

   .full-screen-v {
      width: initial;
      max-width: initial;
      height: initial;
      position: initial;
      overflow: hidden;
      background: rgba(0,0,0,.8);
      padding: 20px 0px;
   }
   .full-screen-source {
      display: none;
   }
   .full-screen-data {
      position: initial;
   }
   .overlap {
      display: none;
   }
   .min-service-box {
      border-bottom: 1px solid #fff;
      border-radius: 0px;
   }
   .min-service-box * {
      font-size: 11px;
   }

   .about-text p {
      line-height: 37px;
      font-size: 15px;
   }
   .service-box {
      padding: 20px 30px;
      height: 280px;
   }
   .service-icon i, .service-content h3{
      margin-bottom: 20px;
   }

   .service-box {
      padding: 20px 30px;
      height: auto;
   }
   .we-acc-slick {
      width: 90%;
   }

   .copyright {
      margin-bottom: 20px;
      text-align: center;
   }

   .footer-social {
      text-align: center;
   }
   div.popover.ku-error .arrow:before{
      border: 0;
   }
   div.popover.ku-error:nth-child(even) .arrow:after {
      border-right-color: #de605b;
      border: 0;
      width: 10px;
      height: 10px;
      content: "";
      background: #de605b;
      transform: rotate(45deg);
      position: absolute;
      top: -7px;
   }

   div.popover.ku-error:nth-child(odd) .arrow:after {
      border-right-color: #f4645f;
      border: 0;
      width: 10px;
      height: 10px;
      content: "";
      background: #de605b;
      transform: rotate(45deg);
      position: absolute;
      top: -7px;
   }

}

/* Extra small Device. */
@media (max-width: 575px) {
   .slicknav_menu {
      display: block;
   }
   #olympia-menu {
      display: none;
   }

   .kslick-single-item h1 {
      font-size: 40px;
      line-height: 50px;
      text-align: center;
   }

   .full-screen-v {
      width: initial;
      max-width: initial;
      height: initial;
      position: initial;
      overflow: hidden;
      background: rgba(0,0,0,.8);
      padding: 20px 0px;
   }
   .full-screen-source {
      display: none;
   }
   .full-screen-data {
      position: initial;
   }
   .overlap {
      display: none;
   }
   .min-service-box {
      border-bottom: 1px solid #fff;
      border-radius: 0px;
   }
   .min-service-box * {
      font-size: 11px;
   }

   .about-text p {
      line-height: 37px;
      font-size: 15px;
   }
   .service-box {
      padding: 20px 30px;
      height: 280px;
   }
   .service-icon i, .service-content h3{
      margin-bottom: 20px;
   }

   .service-box {
      padding: 20px 30px;
      height: auto;
   }
   .we-acc-slick {
      width: 90%;
   }

   .copyright {
      margin-bottom: 20px;
      text-align: center;
   }

   .footer-social {
      text-align: center;
   }

   div.popover.ku-error .arrow:before{
      border: 0;
   }
   div.popover.ku-error:nth-child(even) .arrow:after {
      border-right-color: #de605b;
      border: 0;
      width: 10px;
      height: 10px;
      content: "";
      background: #de605b;
      transform: rotate(45deg);
      position: absolute;
      top: -7px;
   }

   div.popover.ku-error:nth-child(odd) .arrow:after {
      border-right-color: #f4645f;
      border: 0;
      width: 10px;
      height: 10px;
      content: "";
      background: #de605b;
      transform: rotate(45deg);
      position: absolute;
      top: -7px;
   }
   .dashboard-content-area {
      padding: 20px 0px;
      margin-right: 0px;
   }
   .left-menu {
      min-width: 100%;
      max-width: 100%;
   }

}