@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
#demo {
   width: 500px;
   height: 500px;
   background-color: #fff;
   color: #000;
}
body, a {
   font-family: 'Poppins', sans-serif;
   font-weight: normal;
   font-style: normal;
   font-size: 14px;
   color: #444;
   line-height:26px;
   margin: 0;

}
a {
   text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
   font-family: 'Poppins', sans-serif;
   color: #222222;
   margin-top: 0;
   font-style: normal;
   font-weight: 700;
}
h2 {
   font-size: 35px;
}
.separator {
   margin: 40px 0;
   height: 1px;
   width: 100%;
}
.mini-separator {
   margin: 20px 0;
   height: 1px;
   width: 100%;
}
.flex-container {display: flex}
.olympia-container {
   width: 960px;
   margin: 0 auto;
}
h2.olympia-title, h2.olympia-title-min {
   font-size: 35px;
   border-bottom: 3px solid #76b900;
   padding-bottom: 20px;
   margin-bottom: 40px;
   text-transform: uppercase;
}
h2.olympia-title-min {
   margin-bottom: 20px;
}
h3.olympia-title {
   font-size: 18px;
   font-weight: 600;
   margin-bottom: 10px;
}
.btn-coral {
   background: coral;
   color: #fff;
}
.btn-coral:hover {
   background: #76b900; /* nvidia */
}









/* header */
.header {
   align-items: center;
   /*border: 1px solid #ddd;*/
   /*background: aliceblue;*/
   background-image: linear-gradient(to right bottom, #00c9b7, #00bee7, #00abff, #0087ff, #c330f8);
   padding: 15px 0;

}
/* Olympia Logo */
.olympia-logo {}
.olympia-logo.flex-item {
   flex-grow: 1;
   margin-left: 15px;
}
.olympia-logo a{}
.olympia-logo a img{
   width: 100px;
}

/* Olympia Menu */
.olympia-menu.flex-item {flex-grow: 2}
.olympia-nav {}
.olympia-nav ul{
   margin: 0; padding: 0;
}
.olympia-nav ul.flex-container {
   justify-content: flex-end;
}
.olympia-nav ul li{
   list-style: none;
   margin-right: 10px;
   position: relative;
}
.olympia-nav ul li:last-child {
   margin-right: 0;
}

.olympia-nav ul li a{
   text-decoration: none;
   color: #222; font-family: 'Poppins', sans-serif; font-weight: 500;
   display: inline-block;
   padding: 8px 15px;
   transition: all 0.5s ease-in-out;
}
.olympia-nav ul li a.current_page {
   color: coral;
}
.olympia-nav ul li a:hover{
   color: coral;
}
.olympia-nav ul li:hover ul.dropdown{top: 45px;}
.olympia-nav ul li ul.dropdown {
   position: absolute;
   background: #fff;
   top: -300px;
   border: 1px solid #f1f1f1;
   box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
   transition: all 0.8s;
   z-index: 9999;
}
.olympia-nav ul li ul.dropdown li {
   margin-right: 0;
   border-bottom: 1px solid #ddd;
}
.olympia-nav ul li ul.dropdown li:last-child {
   border-bottom: 0;
}
.olympia-nav ul li ul.dropdown li a {
   padding: 15px 0;
   text-align: center;
}
.olympia-nav ul li ul.dropdown li a:hover {
   color: coral;
}

/* Olympia System */
.olympia-system-home-container {
   overflow: hidden;
}
.olympia-system-home {}
.olympia-system-title {}
.olympia-system-content {
   border: 1px solid #ddd;
   height: 350px;
   align-items: center;
   overflow: hidden;
}
.olympia-system-text {
   padding: 0 30px;
   flex-basis: 120%;
}
.olympia-system-text p{}
.olympia-system-text p:first-child{
   margin-top: 0;
}
.olympia-system-text p:last-child{
   margin-bottom: 0;
}
.olympia-system-img {
   flex-basis: 100%;
}

.olympia-system-home:hover .olympia-system-img img {
   opacity: 1;
}
.olympia-system-img img {
   width: 100%;
   opacity: 0.3;
   height: 100%;
   transition: all 1s;
}
.olympia-bet-text {order: 2}
.olympia-img-img {order: 1;}
.olympia-bet-title {text-align: right}

/* olympia services */
.ol-center {
   text-align: center;
}
.service-box {
   height: 300px;
}

/* fullscreen slide */
.full-screen-v {
   width: 100vw;
   max-width: 100%;
   height: 100vh;
   background: #ddd;
   position: relative;
   overflow: hidden;
}
.full-screen-source {
   position: absolute;
   top: 0; left: 0; right: 0; bottom: 0;
   z-index: 1;
}
.full-screen-data {
   position: absolute;
   z-index: 3;
   width: 100%;
}
.full-screen-source video {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.overlap {
   position: absolute;
   top: 0; left: 0; right: 0; bottom: 0;
   background: rgba(0,0,0, .7);
   z-index: 2;
}
.full-screen-data-info {
   background: rgba(0,0,0,.5);
   padding: 20px;
   padding-bottom: 60px;
}
.full-screen-data-info h2{color: #fff;}
.full-screen-data-info p{
   color: #fff;
   font-size: 14px;
   line-height: 35px;
}
.full-screen-data-info button {
   border-radius: 0;
}
.olympia-form {
   background: #ffffff;
   padding: 20px 20px 20px 20px;
   border-radius: 3px;
}

.slick-dots {
   display: flex !important;
   position: absolute;
   bottom: 20px;
   left: 50%;
   transform: translate(-50%);
}
.slick-dots li{
}
.slick-dots li button{
   width: 50px;
   height: 5px;
   display: block;
   text-indent: -99999px;
   border: 0;
   box-shadow: none;
   margin-right: 10px;
   background: #fff;
}
.slick-dots li.slick-active button{
   background: #76b900;
}


/* social review */
.social-review {
   border:1px solid #ddd;
   padding: 20px;
}
.social-user {
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   height: 100%;
   width: 100%;
}
.social-user img{
   width: 50px; height: 50px;
   border-radius: 50%;
   border: 2px solid #76b900;
}
.social-review-details {}
.social-review-details p{}
.social-review-star {}
.social-review-star i {
   font-size: 14px;
}



.olympia-title + footer {
   position: absolute;
   bottom: 0;
   width: 100%;
}

.full-screen-v.admin {
   background: #e9ebee;
   width: initial;
   height: initial;
}


div.popover.ku-error {
   background: #f4645f;
   border-radius: 0;
   padding: 10px 20px;
   border: 0;
   width: 100%;
}
div.popover.ku-error:nth-child(even) {
   background: #de605b;
}
div.popover.ku-error:nth-child(odd) {
   background: #f4645f;
}

div.popover.ku-error:nth-child(even) .arrow:before{border-right-color: #de605b;}
div.popover.ku-error:nth-child(even) .arrow:after{border-right-color: #de605b;}
.popover.ku-error .arrow {left: calc((.5rem + 0px) * -1);}
.popover.ku-error .arrow:before {border-right-color: #f4645f; left: 0;}
.popover.ku-error .arrow:after { border-right-color: #f4645f;}
.popover.ku-error .popover-header,
.popover.ku-error .popover-body,
.popover.ku-success .popover-header,
.popover.ku-success .popover-body {
   border: 0;
   padding: 0;
}
.popover.ku-error .popover-header,
.popover.ku-success .popover-header {background: none; font-size: 15px;}
.popover.ku-error .popover-body {}

div.popover.ku-success {
   background: #29b000 !important;
   border-radius: 0;
   padding: 10px 20px;
   border: 0;
   width: 100%;
}
div.popover.ku-success .arrow:before{border-right-color: #29b000;}
div.popover.ku-success .arrow:after{border-right-color: #29b000;}

.showError, {
   border: 3px solid #f4645f;
   padding: 10px;
   color: #f4645f;
   margin-bottom: 10px;
   display: none;
}
.message.error, .error {
   display: block;
   border: 3px solid #f4645f;
   padding: 10px;
   color: #f4645f;
   margin-bottom: 10px;
}
.error li {
   list-style: initial;
   list-style-position: inside;
}












.main-section {
   min-width: 250px;
   display: inline-block;
   background: rgb(254, 254, 254);
   border: 1px solid rgb(200, 200, 200);
   padding: 20px 0px 0px;
   box-sizing: border-box;
   border-bottom: 0;
   position: relative;
}

.single-label {
   padding: 3px 10px;
   border-bottom: 1px solid rgb(150, 150, 150);
}
.single-label:first-child {
   border-top: 1px solid rgb(150, 150, 150);
}
.user-label, .user-label-data {
   width: 50%;
   display: inline-block;
   vertical-align: text-top;
   font-family: sans-serif;
   word-wrap: break-word;
}
.user-label {
   font-size: 12px;
   font-weight: bold;

}
.user-label-data {
   font-size: 12px;
   color: rgb(200, 200, 200);
}
.user-profile-photo {
   margin-bottom: 20px;
}
.pro-img {
   border-radius: 50%;
   width: 80px;
   height: 80px;
   overflow: hidden;
   margin-left: auto;
   margin-right: auto;
   box-shadow: 0px 0px 0px 3px rgb(150,150,150);
}
.pro-img label img {
   width: inherit;
   height: inherit;
}


label#pro-label{
   display: block;
   width: inherit;
   height: inherit;
}

input[type="file"] {
   display: none;
}


.admin-details {
   display: inline-block;
   min-width: 250px;
   position: absolute;
   right: 0;
   z-index: 999;
   bottom: 190px;
   right: 40px;
}

.gray-style {
   border: 1px solid #ddd;
   display: inline-block;
   border-radius: 15px;
   padding: 0px 15px;

}

.logout {
   position: absolute;
   right: 5px;
   top: 5px;
}
.pro-hide {
   position: absolute;
   bottom: 150px;
   right: 40px;
}

.abs-right {
   position: absolute;
   right: 0;
}

.rel-right {
   position: relative;
   width: 250px;
   height: 100%;
   right: 0;
}

.all-con {
   display: flex;
}

footer {
   display: flex;
   flex-direction: column;
   height: 88vh;
   justify-content: flex-end;
}

#admin-pro-hide a, #admin-pro-hide a:focus {
   color: #444;
}
#admin-pro-hide a.active, #admin-pro-hide a.active:focus {
   color: #2B96CC;
}


.googleCaptcha {
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
}

user.form-wrapper input {
   margin-bottom: 0;
}