Options -Indexes

#============================================================================================#
# cannot access current directories files and folder start
#============================================================================================#
order deny,allow
deny from all
#============================================================================================#
# cannot access current directories files and folder end
#============================================================================================#